@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

body {
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

/* Global Styles */

h1 {
 font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}


a {
  text-decoration: none;
  color: white;
}

.headline-label{
text-align: center;
}


/* ------------header & navbar------------- */

nav li a.active::after {
  width: 100%;
}

/* hna animation navbar*/
nav li a.active::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #41af85;
  transition: 0.5s;
}

nav li a:hover::after {
  width: 100%;
}
nav li a:hover {
color: #41af85;
transition: 0.5s;

}


/* Header container */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 background-color: #e3e6f3;
box-shadow: 0 5px 15px rgba(139, 55, 55, 0.06);
padding: 20px 80px;
 position: sticky;
top: 0;
left: 0;
  z-index: 999;
}


/* Nav container */
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
nav li {
padding: 0 20px
}

/* Individual nav items */
nav li a {
  font-size: 16px;
    color: #000000;
    transition: 0.5s ease;
    text-transform: capitalize;
    font-weight:  600;
}

 #icon-cart{
    font-size: 30px;
 }


/* --------------------------------------------- */


/*------------------main image--------------*/
main{
background-image: url("pictures/general/hero4.png");
background-position: top 25% right 0;
width: 100%;
height: 90vh;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
padding:  0 80px;
}

main h1 {
    color: #088178;
  }

main h4{
  padding-bottom: 15px;
}

main button{
  background-image: url(pictures/general/button-background\ .png);
    background-size: cover;
    background-color: transparent;
    color: #000000;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    border: none;
  }

   main button:hover{
    color:#088178;
    transition: 0.6s;
}


/* -------------------------home section & image----------- */


.features{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 40px 80px;
}

.fe-box{ /* box container */
width: 180px;
text-align: center;
padding: 25px 15px;
box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
border: 1px solid #cce7d0;
border-radius: 4px;
margin: 15px 0px;
}

.fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

.fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;

  }

  .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#fe-h1{
  background-color: #fddde4;
  }
#fe-h2{
background-color: #cdebbc;
}
#fe-h3{
background-color: #d1e8f2;
}
#fe-h4{
background-color: #cdd4f8;
}
#fe-h5{
background-color: #f6dbf6;
  }
#fe-h6{
background-color: #fff2e5;
}

/* -----------------e-commerce [Products]---------- */

.products-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
  padding: 40px 80px;
   flex-wrap: wrap;

}

.pro{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
   border: 1px solid #cce7d0;
   border-radius: 25px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    cursor: pointer;
 position: relative;
  }

.pro img {
  width: 100%;
  border-radius: 20px;
}


.description{
    text-align: start;
    padding: 10px 0;
}

.description span{
    color: #0000c5;
    font-size: 12px;
}

.description h5{
padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;

}

.description h4{
font-size: 15px;
padding-top: 7px;
 font-weight: 700;
 color: #088178;
}


.stars{
  font-size: 12px;
  color: rgb(243, 181, 25);
}


.pro-cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #ffffff;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
    text-align: center
  }

.pro-cart i{
  color: #000000;
}

.pro-cart ,i:hover{
background-color: #e8f6ea;
transition: 0.5s;
color: #41af85;
}

.pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 255, 55, 0.06);
}





/* ----------------end of products ----------- */

/* -------------------main banner------------------------ */


.banner{
  background-image: url(pictures/banners-section/banne-mainr.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        margin: 40px 0;
}

.banner h4{
color: white;
 font-size: 16px;
}


.banner h2{
    color: white;
    font-size: 30px;
    padding: 10px 0;
}

.banner span{
    color: #ef3636;}

/* ----------------------end of banner----------- */

/* ---------------------bannners box --------------- */

.banners-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    padding: 60px;
}




.banner-bx{
  background-image: url(pictures/banners-section/banner-b1.jpg);
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 810px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 20px;

  }
  #banner-bx2{
      background-image: url(pictures/banners-section/b10.jpg);
  }

.banner-bx h4{
    color: white;
    font-size: 20px;
    font-weight: 300;
}

.banner-bx h2{
    color: white;
    font-size: 28px;
    font-weight: 800;
}

.banner-bx span{
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}


.button-white{
  font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
  }


/* ------------------------------------------- */
.mini-banner-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}


.mini-banner{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(pictures/banners-section/b7.jpg);
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner-b2{
  background-image: url(pictures/banners-section/b4.jpg);
}

#banner-b3{
  background-image: url(pictures/banners-section/b18.jpg);
}



.mini-banner h2 {
    color: white;
    font-weight: 900;
    font-size: 22px;
}

.mini-banner h3 {
 color: #ec544e;
    font-weight: 800;
    font-size: 15px;
}


/* -----------------------End of banner ---------* */

.banner-search-box{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
align-items: center;
background-image: url(pictures/b14.png);
background-color: #041e42;
background-repeat: no-repeat;
background-position: 20% 30%;
margin: 40px 0;
padding: 40px 80px;
}

.descrip h4{
font-size: 22px;
font-weight: 700;
color: white;
}

.descrip p{
 font-size: 14px;
 font-weight: 600;
color: #818ea0;
}


.descrip span{
  color: #ffbd27;
}
.for-box {
  display: flex;
  width: 40%;
}


.for-box input{
   height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: antiquewhite;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}



.button-green{
 background-color: #088178;
    color: white;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}



/* -------------------------footer--------------------- */
footer{
display: flex;
justify-content: space-between;
padding: 40px 80px;
}

.fot-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}


.fot-box a {
font-size: 13px;
text-decoration: none;
color: #222;
 margin-bottom: 10px;}


.img-logo{
margin-bottom: 30px;
}

.fot-box h4{
font-size: 14px;
padding-bottom: 20px;
}

footer p {
font-size: 13px;
margin: 0 0 8px 0;
}

footer i{
  font-size: 20px;
  cursor: pointer;
}

  footer .row img{
  border: 1px solid #088178;
  border-radius: 6px;
  margin: 10px 0 15px 0;
}
