/* -------------home page blog & shop---------------------- */

.home-page {
background-image: url("pictures/general/shop-home-image.jpg");
background-size: cover;
height: 40vh;
width: 100%;
text-align: center;
align-content: center;
padding: 14px;
}

.home-page h2{
font-size: 46px;
line-height: 54px;
color: white;
}

.home-page p{
    font-size: 16px;
    color: #ffffff;
    margin: 15px 0 20px 0;
}

#blog-page{
    background-image: url("pictures/general/blog-home-image.jpg");

}
/* -------------home page end---------------------- */

/* --------------------- nav of product page--------------------------- */

.page-nav{
    text-align: center;
    padding: 40px 80px;
}

.page-nav a{
 background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
}

.page-nav a i {
    font-size: 16px;
    font-weight: 600;
}

/* ---------------------/-end of nav--------------------------- */

/* -----------------------------blog-section-------------------------- */

.blog{
        padding: 150px 150px 0 150px;
}


.blog-box{
    display: flex;
    width: 100%;
align-items: center;
position: relative;
padding-bottom: 90px;
}

.blog-img{
width: 50%;
margin-right: 40px;
}

.blog-box img{
width: 100%;
height: 300px;
object-fit: cover;
}

.blog h1{
position: absolute;
top: -40px;
left: 0;
font-size: 70px;
font-weight: 700;
color: #c9cbce;
z-index: 9;
}


.blog a{
text-decoration: none;
    font-size: 11px;
    color: black;
    font-weight: 700;
    position: relative;
}


.blog-details a {
  position: relative;
  color: black;
}

.blog-details a::after {
  content: "";
  position: absolute;
  left: 200px;
  bottom: 5px; /* Distance below text */
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.6s ease;
}

.blog-details a:hover::after {
  width: 100%;
}


/* ----------------------about-us section--------------- */


.about-header {
display: flex;
align-items: center;
padding: 40px 80px;
}

.about-text {
    padding-left: 40px;
}



.about-header img{
    width: 50%;
    height: auto;
}
